$breakpoints: (
  mobile: 800px,
);



// couleurs //
$color:(

primaire: #9356dc,
secondaire: #ff79da,
tertiaire: #99e2d0,

);
// textes //
$textes: (
  bg_sombre: white, 
  bg_claire: black,
  visited: grey,
);

$bordertest: 2px solid 

